:root {
    --main-color: #f7e5d2;
}

/* Start Navbar */

.navbar {
    background-color: var(--main-color);
}

.navbar ul .nav-item {
    margin-left: 15px;
}

.navbar ul .nav-item span {
    color: #6fa359;
    margin-left: 5px;
}


.navbar ul .nav-item .cart-content {
    position: absolute;
    z-index: 110;
    width: 250px;
    right: 0;
    margin-top: 20px;
}

.navbar ul .nav-item .cart-content::before {
    content: '';
    width: 150%;
    height: 500%;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -100;
    background-color: #f7e5d2;
}

@media (max-width:991px) {
    .navbar ul .nav-item .cart-content::before {
        content: '';
        width: 160%;
        height: 400%;
        display: block;
        position: absolute;
        right: 0;
        top: 0;
        z-index: -100;
        background-color: #c5b5a4;
    }
}

.navbar ul .nav-item .cart-content h1 {
    position: relative;
    left: -170px;
    top: 35px;
}

.navbar ul .nav-item .cart-content h1::after {
    content: '';
    width: 144%;
    height: 0.5px;
    position: absolute;
    z-index: 100;
    background-color: black;
    top: 145%;
    left: 50px;
}

.navbar ul .nav-item .cart-content p {
    position: relative;
    top: 200px;
    left: -55px;
}

.navbar .navbar-nav .nav-link.active,
.navbar .navbar-nav .nav-link:focus {
    color: black;
    transition: 0.3s;
}


.navbar .navbar-nav .nav-link:hover {
    color: #394236;
}

.navbar .navbar-toggler {
    border-color: black;
    background-color: white;
    font-size: 25px;
}

.navbar .navbar-toggler:focus {
    box-shadow: none;
}

.nav-link {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    font-size: 17px;
}

@media (max-width:991px) {
    .nav-link {
        display: flex;
        justify-content: center;
        margin-top: 20px;
        font-size: 27px;
        margin-bottom: 40px;
    }
}

.nav-link img {
    width: 30px;
    border-radius: 50%;
}

@media (max-width:991px) {
    .nav-link img {
        width: 45px;
        border-radius: 50%;
    }
}

/* End Navbar */

/* Start Home */
.home .landing {
    position: relative;
}

.home .landing img {
    height: 100%;
    opacity: 5;
}

.home .landing .tolip {
    background-color: #404d3c;
    padding: 20px;
    color: white;
    font-weight: 300;
    text-align: center;
    position: relative;
}

.home .landing .tolip::before {
    content: '';
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 10px solid white;
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.home .landing .tolip::after {
    content: '';
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid white;
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.home .landing .landing-text {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-weight: bold;
    color: white;
}

.home .landing .landing-text h1 {
    font-size: 70px;
}


.home .landing .landing-text p {
    font-size: 20px;
    font-weight: 200;
}



.home .landing .landing-text .links a {
    color: white;
    border: 1px solid white;
    font-weight: 200;
    padding: 10px 20px;
    transition: 0.3s;
}

.home .landing .landing-text .links a:hover {
    background-color: #4e5a4a;
}


@media (max-width: 768px) {
    .home .landing .landing-text h1 {
        font-size: 50px;
        top: 10%;
    }

    .home .landing .landing-text p {
        font-size: 15px;
    }

    .home .landing .landing-text .links {
        font-size: 20px;
    }
}

@media (max-width: 500px) {
    .home .landing .landing-text h1 {
        font-size: 30px;
        top: 10%;
    }

    .home .landing .landing-text p {
        font-size: 15px;
    }
}

.home .botn {
    color: black;
    border: 1px solid black;
    font-weight: 200;
    padding: 10px 20px;
    transition: 0.3s;
    
}

.home .botn:hover {
    background-color: #4e5a4a;
    color: white;
}

.home .one h1 {
    font-size: 90px;
    margin-left: 40px;
    font-weight: 900;
}



.home .tow h1 {
    font-size: 90px;
    margin-left: 40px;
    font-weight: 900;
}

.home .three h1 {
    font-size: 90px;
    margin-left: 40px;
    font-weight: 900;
}
.home .ftr {
    position: relative;
}
.home .ftr::before {
    content: "";
    background-color: #000;
    height: 150px;
    width: 1px;
    display: block;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media (max-width:768px) {
    .home .ftr::before {
        display: none;
    }
}
/* End Home */
/* start menu */
.menu .landing {
    background-color: rgb(251 242 232);
}

.menu .landing h1 {
    font-size: 70px;
}

.menu .landing p {
    font-size: 20px;
}

.menu .menu-section {
    margin-top: 50px;
}

.menu .category-title {
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 15px;
}

.menu .menu-item {
    margin-bottom: 20px;
}

.menu.nav-tabs .nav-link {
    color: #000;
}

.menu .nav-tabs .nav-link.active {
    font-weight: bold;
    border-bottom: 2px solid black;
}

.menu .menu-container {
    max-width: 900px;
    margin: auto;
    padding: 30px;
}

.menu .menu-item {
    margin-bottom: 20px;
}

.menu h2 {
    text-align: left;
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 25px;
}

.menu h5 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
    text-align: left;
}

.menu p {
    font-size: 14px;
    color: #666;
    margin: 0;
}

.menu .price {
    font-weight: bold;
    color: #000;
    margin-top: 5px;
}

.menu .menu-section {
    margin-bottom: 40px;
}

.menu .menu-item h5 {
    margin-bottom: 0;
    font-weight: bold;
}

.menu .menu-item p {
    color: #666;
}

/* end menu */

/* Start contact */
.contact .landing {
    background-color: rgb(251 242 232);
}

.contact .address,
.contact .phone {
    position: relative;
    padding-top: 1.5rem;
    margin-bottom: 1.5rem;
    left: 25%;
    width: fit-content;
}

.contact .address::before {
    content: "";
    position: absolute;
    top: -40px;
    left: -45px;
    width: 0.5px;
    height: 140%;
    background-color: #000;
}

@media (max-width:768px) {
    .contact .address::before {
        display: none;
    }
}

.contact .form-control {
    border-radius: 0;
    border-color: #000;
}

.contact textarea.form-control {
    height: 150px;
}

.contact .btn-send {
    background-color: #394236;
    color: #fff;
    padding: 12px 40px;
    border-radius: 0;
    transition: 0.3s;
    width: 100%;
}

/* End contact */

/* Start Order */
.order .landing img {
    width: 100%;
}

.order h1 {
    font-size: 70px;
    font-weight: bold;
}

.order .accept p {
    background-color: rgb(251 242 232);
    width: fit-content;
    padding: 5px 10px 5px 40px;
    border-radius: 40px;
    position: relative;

}

.order .accept p::before {
    content: "";
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #6fde40;
    display: block;
    position: absolute;
    left: 14px;
    top: 13px;
}


.order .pops .p-btn {
    border: 1px solid black;
    border-radius: 0;
    padding: 10px 90px;
    background-color: rgb(96 105 93);
    color: white;
    margin-right: 0;
}

.order .pops .pp-btn {
    border: 1px solid black;
    border-radius: 0;
    padding: 10px 90px;
    background-color: rgb(239 240 238);
    color: black;
    margin-right: 0;
}

.order .pops .d-btn {
    border: 1px solid black;
    border-radius: 0;
    padding: 10px 85px;
    position: relative;
    left: -5px;
}

@media (max-width:499.33px) and (max-width:500px) {
    .order .pops .d-btn {
        left: 1.5px;
        margin-top: 5px;
    }
}

.order .pops .s-btn {
    border: 1px solid transparent;
    background-color: rgb(96 105 93);
    padding: 10px 50px;
    border-radius: 0;
    color: white;
}

.order .pops .s-btn:hover {
    text-decoration: underline;
}

.order .pops .pop-text .c-btn {
    color: #4e5a4a;
    transition: 0.3s;
}

.order .pops .pop-text .c-btn:hover {
    text-decoration: underline;
    color: #6fa359;
    transition: 0.3s;
}

.order .links a {
    color: #394236;
    display: flex;
}

.order .links .cofe,
.order .links .spce {
    position: relative;
    width: fit-content;
}

.order .links .cofe::before {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 50px;
    height: 2px;
    background-color: #404d3c;
    transform: translateY(-40%);
}

.order .links .spce::before {
    content: "";
    position: absolute;
    top: 100%;
    left: -2px;
    width: 0;
    height: 2px;
    background-color: #404d3c;
    transform: translateY(-40%);

    transition: 0.3s;
}

.order .links .spce:hover::before {
    display: block;
    width: 100%;
}

@media (max-width:362px) {

    .order .links .spce:hover::before,
    .order .links .cofe::before {
        display: none;
    }
}

.order .drinks .cofe .card,
.order .drinks .specialty .card,
.order .all-day .card {
    background-color: #fbf2e8;
    padding: 20px 10px;
    transition: 0.3s;
}

.order .drinks .cofe .card:hover,
.order .drinks .specialty .card:hover,
.order .all-day .card:hover {
    transform: scale(1.03)
}

/* End Order */



/* Start Footer */
.footer {
    background-color: #394236;
    position: relative;
    z-index: 1000;
    bottom: 0;
}

.footer form input {
    border: 1px solid white;
    border-right: 0px solid transparent;
    background-color: transparent;
    border-radius: 0;
}

.footer form input[type="email"]:focus,
.footer form input:hover {
    background-color: rgba(255, 255, 255, 0.2);
    outline: none;
}

.form .btn {
    border-radius: 0;
    border-right: none;
    transition: 0.2s;
}

.form .btn:hover,
.form .btn:focus {
    background-color: rgba(255, 255, 255, 0.2);
    color: white;
}

.footer .links {
    font-size: 50px;
}

/* End Footer */