:root {
    --main-color: #f7e5d2;
}

/* Start Navbar */

.navbar {
    background-color: var(--main-color);
}

.navbar ul .nav-item {
    margin-left: 30px;
}


.navbar .navbar-nav .nav-link.active,
.navbar .navbar-nav .nav-link:focus {
    color: black;
    transition: 0.3s;
}

.navbar .navbar-nav .nav-link:hover {
    color: #394236;
}

.navbar .navbar-toggler {
    border-color: black;
    background-color: white;
    font-size: 25px;
}

.navbar .navbar-toggler:focus {
    box-shadow: none;
}

.nav-link {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    font-size: 17px;
}

@media (max-width:991px) {
    .nav-link {
        display: flex;
        justify-content: center;
        margin-top: 20px;
        font-size: 27px;
        margin-bottom: 40px;
    }
}

.nav-link img {
    width: 30px;
    border-radius: 50%;
}

@media (max-width:991px) {
    .nav-link img {
        width: 45px;
        border-radius: 50%;
    }
}

/* End Navbar */
/* start menu */
.landing{
background-color: #f4efe3;
}
.menu-section {
    margin-top: 50px;
}
.category-title {
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 15px;
}
.menu-item {
    margin-bottom: 20px;
}
.nav-tabs .nav-link {
    color: #000;
}
.nav-tabs .nav-link.active {
    font-weight: bold;
    border-bottom: 2px solid black;
}
.menu-container {
    max-width: 900px;
    margin: auto;
    padding: 30px;
}
.menu-item {
    margin-bottom: 20px;
}
h2 {
    text-align: left;
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 25px;
}
h5 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
    text-align: left;
}
p {
    font-size: 14px;
    color: #666;
    margin: 0;
}
.price {
    font-weight: bold;
    color: #000;
    margin-top: 5px;
}
.menu-section {
    margin-bottom: 40px;
}
.menu-item h5 {
    margin-bottom: 0;
    font-weight: bold;
}
.menu-item p {
    color: #666;
}

/* end menu */
/* Start Footer */
.footer {
    background-color: #394236;
    position: relative;
    z-index: 1000;
    bottom: 0;
}

.footer form input {
    border: 1px solid white;
    border-right: 0px solid transparent;
    background-color: transparent;
    border-radius: 0;
}

.footer form input[type="email"]:focus,
.footer form input:hover {
    background-color: rgba(255, 255, 255, 0.2);
    outline: none;
}

.form .btn {
    border-radius: 0;
    border-right: none;
    transition: 0.2s;
}

.form .btn:hover,
.form .btn:focus {
    background-color: rgba(255, 255, 255, 0.2);
    color: white;
}

.footer .links {
    font-size: 50px;
}

/* End Footer */